@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,900);

.fixie {
    padding-top:200px;
}

#phraseID, #weekdayID {
    margin-top:0px;
    padding-top: 0px;
    font-size: 80px;
    position: sticky;
}
#pharseID {}
#weekdayID {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 110px;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    #phraseID {
    font-size: 40px;
    }
    
    #weekdayID {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 50px;
}

}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }

ul.fixie {
  width: 88vw;
  margin: 0 auto;
  line-height: 0;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  -moz-column-gap: 0px;
  -webkit-column-gap: 0px;
  column-gap: 0px;
}
ul.fixie li {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  display: inline-block;
  overflow: hidden;
}
ul.fixie li:after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: block;
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 2s;
  -o-transition-duration: 2s;
  -webkit-transition-duration: 2s;
  transition-duration: 2s;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

ul.fixie li:hover:before {
    position: absolute;
    content: 'Visit Project';
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1pt;
    top: 40%;
    left: 30%;
    z-index: 1;
    padding-top: 20px;
    background-position: center;
    background: rgba(12, 133, 207, 1);
}




ul.fixie img {
  width: 100% !important;
  height: auto !important;
  -webkit-filter: grayscale(20%);
}
